body{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100vh;
    background: linear-gradient(to right,
                                    rgb(245, 32, 36),
                                    rgb(245, 241, 118));
}
nav{
    background-color: aliceblue;
    /* font-size: 28px; */
    /* max-width: 1200px; */
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
nav li{
    display: inline-block;
    margin:0 40px;
  
}
nav li a{
    text-decoration: none;
}
.icon-details{   
  margin-left:10px;

}
.icon-details > i{
    margin-left: 20px;
}
/* .i > fa fa-phone{
    margin-right:40px;
} */

.home-image > img{
    width:100%;
    height:80vh;
    object-fit: cover;
    position: relative;
}
.home-image-title{
position: absolute;
top:30%;
left:10%;
color:rgb(255, 252, 252);
background-color:rgb(251, 107, 107);
opacity:70%;
padding:10px 10px 10px 20px;
}
.ordernow-title{
    color:whitesmoke;
    text-align: center;
}
.order{
    height:100vh;
    width:100%;
}
.products > img{
    width:250px;
    height:250px;
    border-top-right-radius:20%;
    margin-top: 1px;
    object-fit: cover;
}
/* .product-details > h3{
   text-align: center;
} */
.all-products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.products{
    overflow: hidden;
    background-color: #fff;
    color:black;
    text-align: center;
    width:220px;
    height:340px;
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    margin:2rem;
}
.order-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
 
}
.order-button{
    width:100px;
    height:35px;
    /* border-top-right-radius: 20%; */
    padding:8px 22px;
    border-radius:18px;
    background-color:rgba(238, 237, 240, 0.787);
    border: none;
    font-weight: 800;
}
/* .image1{
    margin-top: 1px;
} */
@media all and (max-width:990px){
    nav{
        /* flex-direction: row; */
        flex-direction: column;
       }
    .icon-details{
        max-width:fit-content;
    }
    nav li{
      
        /* display: block; */
        /* padding:10px 0px; */
    }
    .home-image-title{
            margin-top: 250px;
    }
}
@media all and (max-width:989px){
    .home-image-title{
        display: none;
}
}
@media all and (max-width:890px){
    nav{
        flex-direction: column;
    }
    nav li{
        display: block;
        padding:10px 0px;
    }
}


